/* You can add global styles to this file, and also import other style files */
$tecnm-azul: #1B396A;
$tecnm-gris: #807E82;
$tecnm-claro: #f5f6fa;
$tecnm-azul-claro: #0c63e4;

$primary: $tecnm-azul;
$secondary: $tecnm-gris;
$light: $tecnm-claro;
$info: $tecnm-azul-claro;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-arial {
    font-family: 'Arial', sans-serif !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}


.no-scroll {
    overflow: hidden;
    height: 64vh;
}

.app-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f7f9;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e2e2e2;
    border-top: 5px solid #003366;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-bs-theme='dark'] {
    --bs-primary: #1a2d4d;
    --bs-primary-rgb: 26, 45, 77;

    .card,
    .bg-white {
        background-color: #2b3035 !important;
        color: #dee2e6 !important;
        border-color: #495057 !important;
    }

    .card-grafica-retardos {
        border-color: #FFC107 !important;
    }

    .card-grafica-faltas {
        border-color: #DC3545 !important;
    }

    .card-grafica-salidas {
        border-color: #1B396A !important;
    }

    .card-grafica-fueraHorario {
        border-color: #0C63E4 !important;
    }

    body {
        background-color: #1E1E1E !important;
        color: #e9ecef !important;
    }

    .text-dark {
        color: #f8f9fa !important;
    }

    .text-muted {
        color: #adb5bd !important;
    }

    .table-hover tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .modal-content {
        background-color: #212529;
        color: #f8f9fa;
        border: 1px solid #444;
    }

    .form-control,
    .form-select,
    .input-group-text {
        background-color: #343a40 !important;
        border-color: #495057 !important;
        color: #fff !important;

        &::placeholder {
            color: #6c757d;
        }
    }

    .custom-chip {
        background-color: #2b3035;

        &:hover {
            background-color: #495057;
        }
    }

    .btn-light {
        background-color: #343A40;
        border: none;
    }

    .text-primary {
        color: white !important;
    }

    .btn-outline-primary {
        color: white;
        ;
    }

}

body {
    transition: background-color 0.3s ease, color 0.3s ease, font-family 0.2s ease;
}